.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
    gap: 2rem;
}
#color-box {
    width: 15rem;
    height: 15rem;
    background-color: cornflowerblue;
}
#change-color-btn {
    background-color: rgb(94, 111, 109);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform .3s ease;
    color: rgb(207, 213, 218);
    border: none;

}
#change-color-btn:hover {
    color: #fff;
    transform: scale(1.3);
}